{
  "singleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@org/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "overrides": [
    {
      "files": ["apps/**/*.html", "packages/**/*.html"],
      "excludeFiles": ["**/index.html", "**/public/**", "**/templates/**"],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
