{
  "singleQuote": true,
  "overrides": [
    {
      "files": ["apps/**/*.html", "packages/**/*.html"],
      "excludeFiles": ["**/index.html", "**/public/**", "**/templates/**"],
      "options": { "parser": "angular" }
    }
  ]
}
